
@import 'variables';

@import '../../../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';

.lower-small-margin {
  margin-bottom: $small-margin-pixels;
}

.lower-medium-margin {
  margin-bottom: $medium-margin-pixels;
}

.lower-large-margin {
  margin-bottom: $large-margin-pixels;
}

.ccr-page-header {
  color: $brand-primary;
  font-weight: bold;
}

.ccr-label {
  font-family: "Courier New", serif;
  color: $brand-primary;
}

.ccr-small-text {
  font-size: smaller;
}

.ccr-scrolling-area {
  overflow-x: scroll;
  max-height: 240px;
}
