
@import 'variables';

@import '../../../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';

.lower-small-margin {
  margin-bottom: $small-margin-pixels;
}

.lower-medium-margin {
  margin-bottom: $medium-margin-pixels;
}

.lower-large-margin {
  margin-bottom: $large-margin-pixels;
}

.ccr-label {
  font-family: "Courier New";
  color: $brand-primary;
}

.ccr-small-text {
  font-size: smaller;
}
